* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --fonte-primaria: "Montserrat", serif;
}

html {
  font-family: var(--fonte-primaria);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
.banner {
  display: flex;
  flex-direction: column;
  padding: 0.78vw;
  border-bottom: 1px solid;
}

.banner-logo {
  display: flex;
  text-align: left;
  gap: 2.6vw;
  align-items: center;
}
#logo1 {
  width: 14vw;
  height: auto;
}
#logo2 {
  width: 7.7vw;
  height: auto;
}

.banner-texto {
  font-size: 1.8rem;
  font-weight: 500;
  padding-left: 10px;
  border-left: 2px solid;
}

.banner-nav {
  display: flex;
  gap: 3vw;
  justify-content: end;
  border-radius: 20px;
  background: transparent;
  margin-top: 0.52vw;
}
.banner-nav a {
  background: transparent;
  text-decoration: none;
  color: black;
  font-size: 1.2vw;
  padding: 0.5vw;
  transition: 500ms;
}

.banner-nav a:hover {
  color: red;
}

.header__search {
  display: flex;
  align-items: center;
  width: 364px;
  height: 48px;
  margin-left: 8px;
  border-radius: 500px;
  border: 2px solid;
}

.header__search img {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.header__search input {
  border: none;
  font-size: 1rem;
  padding: 0px 100px 0 12px;
  color: black;
  text-overflow: ellipsis;
  outline: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.rodape {
  background: grey;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.rodape p {
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;
}

.rodape-lock {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rodape-lock p {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
