.title-card p {
  display: flex;
  justify-content: center;
  color: white;
  margin: 16px 16px 0 16px;
  padding: 2px;
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: 500;
  height: auto;
  background: grey;
}

.book-academico {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 16px;
}

.card-link {
  font-weight: 600;
  color: black;
  text-decoration: none;
  padding: auto 10px auto 10px;
  background: transparent;
}
